/**
*
* CSS styles for ProcessBlog.
*
* @author Francis Otieno (Kongondo) <kongondo@gmail.com>
*
* https://github.com/kongondo/Blog
* Created February 2014
*
*/

/** html **/
/* Prevent "jump" on shorter pages */
html {overflow-y:scroll;}

/** div **/
div#items_wrapper {width: 100%;}
div.item_wrapper {overflow:hidden; margin-top: 1em; padding: 0 0 1em 0; border-bottom: 1px dotted rgba(0,0,0,0.20);}
div#items_wrapper.categories div.item_wrapper, div#items_wrapper.tags div.item_wrapper {margin-top: 0.25em; padding: 0 0 0.25em 0;}
div#top_action_selects, div#top_pagination {width: 50%; float: left;}
div.post, div.item{float: left;}
div.comments {width: 30%;}
div.posts_sum_wrapper {width: 70%;}
div.full_sum_wrapper {width: 100%;}
div#top_action_selects, div#top_pagination {}
div#top_strip_actions {margin-bottom: 1em; height: 50px; border-bottom: 1px dotted rgba(0,0,0,0.20)}
div.item_title {margin-bottom: 0.5em;}
div.block {width: 20%; float: left;}
div#blog_settings{overflow:hidden;}
div#blog_widgets {min-height: 200px;}
div.blog_settings_labels, div.blog_settings_input, div.blog_widget_info, div.blog_widget_disable {width: 50%; float: left;}
div.blog_settings_input_wrappers, div.blog_widget, div.blog_author, div#blog_posts_overview_wrapper {margin: 1em 0; overflow:hidden; border-bottom: 1px dotted rgba(0,0,0,0.20); padding-bottom: 1em;}
div#blog_posts_overview_wrapper {margin: 0;}

div#components:after {/* clear blog-style div's float */
	content: '\0020';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

/** header **/
div#blog_posts_overview_wrapper h3, div#blog_archives h3 {margin: 0;}

/** paragraph **/
div.comments p {margin-left: 1.7em !important;}
div#items_wrapper p {margin: 0;}

/** span **/
span.post_author {margin-right: 1em; font-weight: bold;}
span.comments {font-weight: bold;}
span.item_meta {font-size: 82% !important;}
/*div.comments p span {font-style: italic;}*/
div.item span, div.blog_author span.blog_author_posts, ul#blog_posts_overview span {margin-right: 1em;}
span.unpublished, span.red {color: red;}
div.blog_settings_labels label:hover {cursor: pointer;}
span.blog_widget_headers, span.blog_author_title, span.blog_posts_overview_title {font-weight: bold;}
span#sort_select, span#limit_select {margin-left: 1.5em;}

/** list **/
li.edit_fieldsets {margin-top: 2em !important;}
div.block ol li {margin: 0 0 0 20px; padding: 0;}
div#top_pagination ul.MarkupPagerNav {margin: 0}
ul.MarkupPagerNav {float: right;}
ul.blog_menu {width:100%; padding:0 0 3em 0; margin:0; list-style-type:none;}
ul.blog_menu li {display: table-cell; width: 14.285714%; text-align: center;}
ul.blog_menu > li {display:inline;}
ul#blog_posts_overview {width:100%; padding: 1em 0 2em 0; margin:0; list-style-type:none; background-cbolor: yellow;}
ul#blog_posts_overview li {display: table-cell; width: 20%;}

/** image **/
img.blog_author_image {
	border-radius: 50%;
	float: left;
	-webkit-shape-outside:circle();
	shape-outside:circle();
	margin-right:2.5em;

}

/** anchor **/
a.blog_menu_item {
	float:left;
	width:6em;
	text-decoration:none;
	color:inherit;
	padding:0.2em 0.6em;
	font-size: 1.15em;
	font-weight: bold;
}

a.blog:hover {color:#A6A6A6;}
a.onblog {color: #f64704;}

/** input **/
input[type=checkbox].toggle, input[type=checkbox].widget, input[type=checkbox].toggle_all {margin-right: 1em;}
div#top_action_selects select {margin-right: 1em;}
textarea#categories_add_text, textarea#tags_add_text {margin-bottom: 1em;}
input#add_and_publish, input#remove_tpl_files {margin-left: 1em; position: relative; top: 0.3em;}
input#quickitem_title, input#quickpost_body{
     width: 100%;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

div.blog_settings_input input {width: 100%;}

/* label */
label#items_sort, label#add_new, label#remove_tf {margin: 0.75em 0 0 0.25em; display: inline-block; vertical-align: top;}

/** table **/
table#archives, table#posts_overview, table.authorsTable {width: 100%;}
table#archives td, table#archives th {text-align: center;}
table#archives td:nth-child(1), table#archives th:nth-child(1) {text-align: left;}
table#archives th {font-weight: bold;}
table#posts_overview td {font-size: 1em; padding-bottom: 0.75em;}
table#posts_overview  td:nth-child(1), table#posts_overview  td:nth-child(3) {width:20%;}
table#posts_overview td.large {font-weight: bold; font-size: 1.15em;}
table.postsTable span.date-sorter {display: none;}
table.tagsTable th:nth-child(1), table.categoriesTable th:nth-child(1) {width:3%;}
table.tagsTable th:nth-child(3), table.categoriesTable th:nth-child(3) {width:12%;}
table.tagsTable th:nth-child(4), table.categoriesTable th:nth-child(4) {width:10%;}
table.authorsTable td {height:85px;}
table.authorsTable td:nth-child(1) {width: 8%;}/* blog author image column */
table.authorsTable td:nth-child(3), table.authorsTable td:nth-child(4) {width: 10%;}/* posts [published and pending(unpublished)]- /3rd & 4th(last) columns */
table.settingsTable th:nth-child(1) {width:22%;}
table.settingsTable  {border: none;}
table.widgetsTable th:nth-child(3) {width: 10%;}/* unavailable column */
table.AdminDataList tbody td, table.settingsTable tbody th {border-right: none;}/* overriding some processwire markup admin table css */

/** i **/
div.sum_wrapper i, div.blog_author i, ul#blog_posts_overview i {margin-right: 0.25em;}
i.fa {font-size: 82% !important;}
i.fa.fa-eye-slash, i.fa.fa-eye {font-size: 14px !important;}
